@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14020075');
  src: url('../font/fontello.eot?14020075#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?14020075') format('woff2'),
       url('../font/fontello.woff?14020075') format('woff'),
       url('../font/fontello.ttf?14020075') format('truetype'),
       url('../font/fontello.svg?14020075#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14020075#fontello') format('svg');
  }
}
*/
 
 [class^="f-icon-"]:before, [class*=" f-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased f-icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.f-icon-css:before { content: '\e800'; } /* '' */
.f-icon-gplus:before { content: '\f0d5'; } /* '' */
.f-icon-linkedin:before { content: '\f0e1'; } /* '' */
.f-icon-youtube-play:before { content: '\f16a'; } /* '' */
.f-icon-instagram:before { content: '\f16d'; } /* '' */
.f-icon-get-pocket:before { content: '\f265'; } /* '' */
.f-icon-twitter:before { content: '\f309'; } /* '' */
.f-icon-facebook:before { content: '\f30c'; } /* '' */