button, input, input.form-control
	outline: none
	appearance: none
	
	&, select.form-control
		&:focus, &:hover, &:active
			box-shadow: none
			border-color: $main
	
.btn
	&-top
		position: fixed
		right: 0
		bottom: 0
		border: none

		padding: 5px
		width: rem(35)
		height: rem(35)	

		background-color: $orange
		color: $white
	&-bg
		display: inline-flex
		justify-content: center
		align-items: center

		min-width: $btn_w
		height: $btn_h

		background: $orange
		color: $white
		border-radius: $brs_btn2
		border-color: transparent

		+font(20, 24, 500)
		letter-spacing: 1px
		text-transform: uppercase
		text-align: center

		&:hover, &:focus, &:active
			transition: all 0.4s ease-in-out
			background-color: $orange3
			box-shadow: $bxsd_3
			border: none
			color: $white
			
		&.disabled, &:disabled
			&, &:hover, &:focus, &:active
				background-color: $grey2
				box-shadow: none

.form
	text-align: center
	&__msg
		&--success
			color: $green
			+font(12, 12, 400)
			margin-bottom: 0
			margin-top: rem(10)
	&-control
		display: inline-flex
		align-items: center
		border: $form_bd
		border-radius: $form_brs
		padding: rem(8) rem(17)
		margin: $form_mt 0 0
		width: 100%
		min-height: rem(38)
		+font(12, 23, 400)
		color: $color1

		overflow: hidden

	&-check
		margin: rem(20) 0
		padding: 0
		&-input
			//display: none
			// cursor: pointer
			// width: initial
			// height: initial
			
			&:checked + label::after
				content: ''
				display: block

				position: absolute
				top: rem(3)
				left: rem(5)
				bottom: auto

				width: rem(12)
				height: rem(12)

				margin: auto

				border: 2px solid $main
				border-width: 0 2px 2px 0
				transform: rotate(45deg)

		&-label
			position: relative
			display: inline-flex
			flex-wrap: nowrap

			text-align: left
			letter-spacing: 0.05em
			+font(10, 12, 400)
			color: $grey2
			&::before
				content: ''
				position: relative

				display: inline-block
				vertical-align: middle
				position: relative
				cursor: pointer

				padding: rem(10)
				margin-right: rem(10)

				height: rem(20)
				
				border: $form_bd
				border-radius: 4px
			span
				display: block
			a
				color: $black


.soc
	a
		font-size: rem(18)
		&:hover, &:active, &:focus
			color: $orange

.parsley-errors-list
	padding: 0
	text-align: left
	list-style-type: none
	color: $red
	margin-top: rem(5)
	margin-bottom: 0
	+font(12, 12, 400)

.iti__country-list
	overflow-x: hidden
	max-width: rem(300)
	min-width: rem(205)
	width: 100%
	+font(10, 10*1.2, 400)
	white-space: break-spaces

.iti--allow-dropdown
	width: 100%
	height: rem(38)
	border-radius: rem(10)
	&:first-child
		margin-top: $form_mt

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag
	background-color: transparent

#error-msg, #valid-msg 
	+font(12, 12, 400)

#error-msg 
  color: $red

#valid-msg 
  color: $green

input.error 
  border: 1px solid $red

.hide 
  display: none
