@media only screen and (max-width: $xsm)
    .payments
        display: none
    .nav
        &--footer-main
            justify-content: flex-start
        &__title
            +font(13, 13, 500)
            text-transform: uppercase
        &__item
            +font(10, 10*1.5, 400)
        li
            margin-bottom: rem(30)
            width: 33%
    .pg
        &-hero
            padding-top: rem(30)
            padding-bottom: rem(30)
        &-section
            padding-top: rem(30)
            padding-bottom: rem(30)

            &--2
                .container
                    max-width: 95%

    .heading
        &-1
            +font(32, 32, 700)
            text-transform: uppercase
        &-2
            +font(31, 31, 700)

        &-sub
            +font(16, 16*1.4, 400)
    
    .box
        &-1
            transform: translateX(0)
            width: 95%
            margin-left: auto
            margin-right: auto
            li
                +font(13, 13*1.5, 400)
        &-2
            li
                +font(13, 13*1.4, 400)
            img
                width: rem(125)
                height: auto
            &__header
                margin-bottom: rem(20)
                padding: 0 30px 20px

                h3
                    +font(16, 16, 700)

            &__body
                padding: 0 25px 0
                vertical-align: middle

    
@media only screen and (max-width: $sm)
   
    .nav
        &--footer-main
            justify-content: flex-start
        li
            width: 33%
           
        &__item
            +font(11, 11, 400)
        &__title
            +font(13, 13*1.4, 400)
            text-transform: uppercase
    .pg
        &-footer
            margin-bottom: rem(30)
            padding: rem(30) rem(15)

            p
                +font(11, 11*1.4, 400)

        &-section
            padding-top: rem(30)
            padding-bottom: rem(30)

            &--1
                img
                    object-fit: cover
                  
            &--4
                p
                    +font(11, 11*1.4, 400)

    .heading
        &-1
            //+font(36, 43, 500)
            +font(30, 30*1.1, 500)
        &-2
            +font(24, 24, 600)
            margin-bottom: 0
        &-3
            +font(16, 16*1.1, 600)
        &-sub
            //+font(20, 24, 400)
            +font(17, 17*1.5, 400)
            margin-top: rem(20)
            margin-bottom: rem(20)
    .text
        &-cta
            &--main
                +font(30, 30, 600)
                margin: 0
    
    .payments
        display: none

    .soc
        margin: rem(-25) auto 0

    .btn
        &-bg
            max-width: rem(290)
            width: 100%
            font-size: rem(14)
            line-height: 1

    .form-control
        border-radius: rem(4)

    .box
        &-1
            transform: translate(0%)
            max-width: 100%
            width: 95%
            margin: 0 auto 
            padding: rem(35)

            h2
                +font(20, 24, 700)
                margin-bottom: rem(35)
            li
                +font(13, 13*1.4, 400)
        &-2
            max-width: rem(380)
            width: 95%
            margin-left: auto
            margin-right: auto

            h3
                font-size: rem(18)
                text-transform: uppercase
            li
                
                +font(12, 12*1.4, 400)

            &__icon
                max-width: 100%
            
           
            
            &__header
                padding-bottom: rem(20)
            
            &__footer
                h3
                    margin-bottom: rem(25)
            
            img
                width: rem(150)
                height: auto

          
        &-3
            margin: rem(26) auto
            max-width: rem(400)
            h3
                margin: 0
                text-transform: uppercase
                //+font(12, 14, 500)
                +font(10, 12, 500)
    .row
        &--0
            margin-top: rem(30)
            margin-bottom: rem(30)
        &--2
            text-align: center
            margin-top: rem(35)

            .pg-logo
                margin: 0 
            .nav
                margin: rem(10) 0
                order: -1
                &__link
                    +font(10, 10, 500)

@media only screen and ( max-width: $xs )
    .heading
        &-1
            +font(24, 24, 700)
        &-sub
            margin-left: auto
            margin-right: auto
    .pg-section--1 img 
        margin-bottom: -25%
       
    .pg-logo img
        width: 80%

    .pg-hero img
        width: 80%
        margin: 0 auto 20px

    .box-1
        width: 95%
    
    .nav li
        margin: 0 0 rem(25)
        width: 50%

    .nav--footer-main
        justify-content: flex-start