.nav
	&__link
		+font(14, 17, 400)
		& + &
			margin-left: rem(25)
		&:hover, &:focus, &:active
			color: $orange
	&__title
		display: block
		margin-bottom: rem(20)
		+font(20, 24, 400)

		text-transform: uppercase
		+font(12, 12, 500)
	&__item
		display: block
		//+font(14, 17, 400)
		+font(13, 17, 400)
		margin-top: rem(8)
		margin-bottom: rem(8)
		&:hover, &:focus, &:active
			color: $orange
	&--footer-main
		display: flex
		justify-content: space-between
		margin-bottom: rem(20)

