.row
	&--0
		@extend .align-items-center, .justify-content-center
		margin-top: rem(40)
		margin-bottom: rem(40)
	&--1
		margin-top: rem(40)
	&--2
		@extend .row, .mx-0, .mt-sm-5, .justify-content-between, .align-items-center
	&--4
		@extend .col-md-6, .col-12, .order-1, .order-sm-0, .text-center, .text-md-left
	&--3
		@extend .row, .justify-content-between, .mx-0, .align-items-center

	&--5
		padding: 0 0 0 rem(55) 