.heading
	&-1
		//+font(64, 76, 500)
		+font(44, 44*1, 500)
		text-transform: uppercase
	&-sub
		margin-top: rem(20)
		margin-bottom: rem(40)
		max-width: 90%
		//+font(24, 29, 400)
		+font(21, 21*1.4, 500)

	&-2
		text-transform: uppercase
		//+font(40, 47, 500)
		+font(32, 36, 500)

	&-3
		@extend .my-0
		+font(24, 24*1.4, 700)
		text-transform: uppercase

h1, h2, h3, h4, h5, h6
	p
		margin-top: 0
		margin-bottom: 0	
	
.text
	&-cta
		&--main
			margin: 0
			+font(32, 38, 700)
			color: $green
		&--sub
			margin: 0
			+font(14, 17, 400)

