$fontSrc: '../fonts/'
$fntName: (Rubik-Black, 900), (Rubik-Bold, 700), (Rubik-Medium, 500), (Rubik-Regular, 400), (Rubik-Light, 300)

	
@each $fnt, $fntw in $fntName
	@font-face 
		$fntFldr: 'Rubik'
		font-family: 'Rubik'
		font-style: normal
		font-weight: #{$fntw}
		font-display: swap
		src: local('Rubik'), local('Rubik'), url($fontSrc + '/' + $fntFldr + '/' +'#{$fnt}.woff') format('woff'), url($fontSrc + '/' + $fntFldr + '/' +'#{$fnt}.woff2') format('woff2'), url($fontSrc + '/' + $fntFldr + '/' +'#{$fnt}.ttf') format('ttf')

