@import bootstrap/bootstrap

@import fonts
@import vars
@import reset

@import row
@import nav

@import text
@import btn

@import preloader


.pg
	&-footer
		padding-top: rem(65)
		padding-bottom: rem(65)
		+theme(dark)
		+font(16, 25, 400)

		hr
			display: block
			margin-bottom: rem(48)
			margin-top: rem(28)

			background-color: $white
			opacity: 0.25

		p
			+font(12, 12*1.5, 400)
			opacity: 0.85


	&-hero
		+theme(main)
		background-repeat: no-repeat
		background-position: center
		background-attachment: fixed
		
		padding-top: rem(150)
		padding-bottom: rem(150)

		@media only screen and (max-width: $sm)
			padding-top: rem(25)
			padding-bottom: rem(50)
		
		.row 
			@extend .align-items-center

		img
			display: block
			object-fit: contain
			max-width: 100%	
			margin: rem(50) auto
		

	&-section
		padding-bottom: rem(80)
		padding-top: rem(80)

		&--1
			img
				display: block
				height: rem(361)
				max-width: 100%
				object-fit: cover
				border-radius: rem(5)
		&--2
			+theme(light-grey)
			text-align: center
		&--3
			+theme(main)
			text-align: center
		&--4
			padding-top: rem(40)
			padding-bottom: rem(40)

			+theme(light-pink)

			p
				margin: 0
				//+font(16, 19, 300)
				+font(13, 13*1.5, 400)

		
.box
	&-1
		background-color: $white
		border-radius: 2px
		box-shadow: $bxsd_4
		padding: rem(40)

		max-width: 100%

		transform: translateX(-13%)	
		width: rem(618)

		h2
			+font(24, 28, 700)
			margin-bottom: rem(20)

		ul
			list-style: none
			padding: 0
			margin-top: 0
			margin-bottom: 0
		li 
			display: flex
			margin: rem(16) 0

			+font(16, 19, 400)

			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0

			b
				color: $main4
				display: inline-block
				margin-right: rem(8)

				+font(17, 20, 500)

			span
				display: inline-block



	&-2
		user-select: none
		position: relative	

		align-self: stretch

		+theme(box)
		
		// min-height: rem(340)

		overflow: hidden
		
		max-width: calc(50% - 30px)
		width: 100%

		table
			width: 100%	
			margin: 40px auto
			
		&__header
			padding: 0 40px 40px
		
		&__body
			padding: 0px 40px 0
			vertical-align: top

		&__footer
			padding: 0 40px 0
			@extend .d-sm-none

		&__icon
			max-width: rem(60)
			width: 100%

			color: $main4
			+font(48, 57, 700)

		hr
			width: 100%
			background-color: $white
			opacity: 0.5

		img
			display: block
			object-fit: contain
			object-position: 100%
			height: rem(220)
			width: rem(170)
			margin: 0 -20px
			

			
			// margin: auto
			// top: 40%
		h3
			// +font(24, 28, 700)
			+font(21, 24, 700)
			text-align: left
			
		ul
			padding-left: rem(20)
			margin: 0

		li
			+font(20, 24, 400)
			margin: rem(16) 0
			text-align: left
		
			&:last-child
				margin-bottom: 0
			&:first-child
				margin-top: 0
				
	&-3
		background-color: $white
		border-radius: rem(10)
		box-shadow: $bxsd_2
		color: $black

		max-width: rem(673)
		width: 85%
		margin: rem(40) auto
		padding: rem(20) rem(25)

		h3
			color: $red
			+font(16, 19, 500)
			
@import media