	
$black: #000
$white: #fff

$main: #5E19CE

$main1: #5E19CE
$main2: #4021D6
$main3: #4C1ED3

$main4: #5A17FF

$grey2: #ABABAB

$green: #1BD895
$red: #F80303

$orange: #E96B2C
$orange2: #FF844F
$orange3: #FF994F

$brs_btn1: 10px
$brs_btn2: 5px

$btn_h: 50px
$btn_w: 200px

$bxsd: 10px 10px 20px rgba(0, 0, 0, 0.25)
$bxsd_2: 4px 4px 40px rgba(0, 0, 0, 0.25)
$bxsd_3: 0px 0px 20px rgba(255, 163, 79, 0.5)
$bxsd_4: 0px 9px 90px rgba(0, 0, 0, 0.25)

$form_bd: 2px solid #DADADA
$form_brs: 10px

$form_mt: 24px

$bg1: #FFF0E5
$color1: #111111 

$bg2: #F1F2F4


$bg_grey: #394046



$bg: #ccc

$grad1: linear-gradient(180deg, #5E19CE 0%, #4021D6 100%)

$ffHeading: 'Rubik'
$ffText: 'Rubik'
$ffBack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


$lg: 1150px
$md: 960px
$xsm: 768px
$sm: 640px	
$xs: 520px
$xxs: 420px

$pgLogoW: 130

$box_pd: 40px
$box_pd_sm: 20px

=font($fz, $lh: 1.2, $fw: 300, $ff: $ffText)
	$lh: $lh/$fz
	$fz: $fz/16 + rem
	$ff: $ff, $ffBack
	font: $fw $fz +/$lh $ff 


=theme($theme)
	@if $theme == dark
		background-color: $bg_grey 
		color: $white

	@if $theme == main
		background-color: $main1	
		background-image: $grad1
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		color: $white
		mix-blend-mode: darken

	@if $theme == box
		background-color: $main3
		box-shadow: $bxsd
		color: $white
		border-radius: 5px

	@if $theme == light-grey
		background-color: $bg2
		color: $color1
	
	@if $theme == light-pink
		background-color: $bg1
		color: $color1

=sz($w, $h)
	width: $w
	height: $h

=flex($fx, $ai, $jc, $fxw)
	display: $fx
	align-items: $ai
	justify-content: $jc
	flex-wrap: $fxw

=ps($ps, $t, $l, $zi: 0)
	position: $ps
	top: $t
	left: $l
	z-index: $zi

@function rem($val)
	$res: $val/16 + rem
	@return $res

@function em($val)
	$res: $val/16 + em
	@return $res 


