<!DOCTYPE html>
{{- partial "head.html" . -}}

<body lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<main class="pg-wrap">

  {{- partial "preloader.html" . -}}

  {{- block "main" . }}{{- end }}

</main>

  <button class="btn-top" title="to top"><i class="icon-arrow-up"></i></button>

  {{ range .Site.Params.plugins.js }}
  <script src="{{ .link | relURL }}"></script>
  {{ end }}

  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink | relURL }}?v={{ now.Format " 01-02-2006-14-52-26"}}"></script>

<script>






var input = document.querySelector("#phone");
var errorMsg = document.querySelector("#error-msg"),
    validMsg = document.querySelector("#valid-msg");

// here, the index maps to the error code returned from getValidationError - see readme
var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

// initialise plugin
var iti = window.intlTelInput(input, {
utilsScript: "../plugins/intl-tel-input-master/build/js/utils.js"
});

var reset = function() {
input.classList.remove("error");
errorMsg.innerHTML = "";
errorMsg.classList.add("hide");
validMsg.classList.add("hide");
};

// on blur: validate
input.addEventListener('blur', function() {
reset();
if (input.value.trim()) {
  if (iti.isValidNumber()) {
    validMsg.classList.remove("hide");

    setTimeout(function(){
      validMsg.classList.add("hide");
    }, 1000);

  } else {
    input.classList.add("error");
    var errorCode = iti.getValidationError();
    errorMsg.innerHTML = errorMap[errorCode];
    errorMsg.classList.remove("hide");
  }
}
});

// on keyup / change flag: reset
input.addEventListener('change', reset);
input.addEventListener('keyup', reset);
  window.intlTelInput(input, {
    // allowDropdown: false,
    autoHideDialCode: false,
    autoPlaceholder: "on",
    // dropdownContainer: document.body,
    // excludeCountries: ["us"],
    formatOnDisplay: false,
    geoIpLookup: function(callback) {
      $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        var countryCode = (resp && resp.country) ? resp.country : "";
        callback(countryCode);
      });
    },
    // hiddenInput: "full_number",
    initialCountry: "auto",

    //localizedCountries: { 'de': 'Deutschland' },
    //nationalMode: false,
    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //placeholderNumberType: "MOBILE",
    // preferredCountries: ['cn', 'jp'],
    //separateDialCode: false,
  });
</script> 

<!-- COUNTRY -->
<script>
	$.ajax({
		url: "https://geoip-db.com/jsonp",
		jsonpCallback: "callback",
		dataType: "jsonp",
		success: function( location ) {
		$('#country').val(location.country_code).attr('selected',true);
		}
	});
</script>
    
<script>
  // Animation
function add_class_animation(element, animation, delay, prefix = 'wow', duration){
    const node = document.querySelector(element);
    node.setAttribute('data-wow-delay', `${delay}` || '0.5s');
    node.setAttribute('data-wow-duration', `${duration}` || '0.5s');
    node.classList.add(`${prefix}`, `${animation}`);
  }
  
  add_class_animation('.heading-1', 'fadeInDown');
  add_class_animation('.heading-sub', 'fadeInUp', '0.4s');
  add_class_animation('.text-cta--main', 'fadeInDown', '0.45s');
  add_class_animation('.text-cta--sub', 'fadeInUp', '0.5s');
  add_class_animation('.row--1', 'fadeInUp', '0.55s');
  add_class_animation('.img', 'fadeIn', '0.75s');
  add_class_animation('.img-1', 'fadeIn', '0.55s');
  add_class_animation('.box-1', 'fadeIn', '0.65s');
  add_class_animation('.box-2', 'fadeInLeft', '0.75s');
  add_class_animation('.box-2:last-child', 'fadeInRight', '0.75s');
  add_class_animation('.box-2__icon', 'fadeIn', '0.75s');
  add_class_animation('.heading-2', 'fadeInUp', '0.7s');
  add_class_animation('.box-3', 'fadeInUp', '0.85s');
  add_class_animation('.heading-3', 'fadeInDown', '0.85s');

  
  new WOW().init();
</script>
    
</body>
</html>