{{ define "main" }}
<style>
  html, body {
      background-color: #4d2a8f;
  }
</style>
<article class="pg-single">

  {{- partial "header.html" . -}}


  <section class="pg-container-box">
   
    <div class="mt-3">

      <div class="pg-col-8 mx-auto">

        <div class="my-5 text-center">
          {{ .Content }}
        </div>


      </div>

    </div>
  </section>

  {{- partial "_footer.html" . -}}

</article>

{{ end }}


