<footer class="pg-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-12">
        <ul class="nav nav--footer-main">
          {{ range .Site.Menus.footer }} {{ if .HasChildren }}
          <li>
            <span role="button" class="nav__title"> {{ .Name }} </span>
            <nav>


              {{ range .Children }}
              <a class="nav__item" href="{{ .URL | relLangURL }}">
                {{ .Name }}  
              
              </a>
              {{ end }}

            </nav>
          </li>
          {{ else }}
          <li>
            <a href="{{ .URL | relLangURL }}"> {{ .Name }} </a>
          </li>
          {{ end }} {{ end }}
        </ul>
      </div>

     <!-- <div class="col-md-2">
      
     </div> -->
      
     
    </div>

    <div class="row--3">
      <nav class="soc">
        {{ range .Site.Params.social }}
      <a href="{{ .URL }}"><i class="{{ .icon }}"></i></a>
        {{ end }}
      </nav>
      <img
        class="payments"
        src="{{ .Site.Params.payments.img }}"
        alt="{{ .Title }}"
        width="200"
      />
    </div>

    <hr />
    <div>{{ .Site.Params.footer.content | markdownify }}</div>

    <div class="row--2">
      <a class="pg-logo" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo }}" alt="{{ .Title }}" />
      </a>

      <nav class="nav nav--footer">
        {{ range .Site.Params.footer.link }}
        <a class="nav__link" href="{{ .URL }}"> {{ .title }} </a>
        {{ end }}
      </nav>
    </div>
  </div>
</footer>
