<form class="form" id="form" novalidate method="POST" data-parsley-validate>
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        required
      />
    </div>

    <div class="col-md-6">
      <select name="country" id="country" class="form-control" required="">
        <option value="" disabled selected>Please Select</option>
        {{- partial "_country.html" . -}}
      </select>
    </div>

    <div class="col-md-6">
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email"
        required
        data-parsley-type="email"
      />
    </div>

    <div class="col-md-6">
      <input
        type="tel"
        name="phone"
        class="form-control"
        placeholder="+1 50-234-5678"
        required
        id="phone"
      />
      <span id="valid-msg" class="hide">Valid</span>
      <span id="error-msg" class="hide"></span>
    </div>

    <div class="col-md-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="terms"
          id="field_terms"
          required
        />

        <label class="form-check-label" for="field_terms">
          <span>
            I consent to receive promotional materials from time to time.
            I,hereby declare that I have read, understood and accepted the
            Company‘s <a href="#">Terms Conditions</a> |
            <a href="#">Privacy policy and cookie policy</a>
          </span>
        </label>
      </div>
    </div>

    <div class="col-12">
      <input type="hidden" name="user_source" />
      <input type="hidden" name="user_medium" />
      <input type="hidden" name="user_campaign" />
      <input type="hidden" name="user_content" />
      <input type="hidden" name="user_term" />
      <input type="hidden" name="user_ref" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn-bg">GET NOW</button>

      <p class="form__msg--success d-none">Your data send successfully!</p>
    </div>
  </div>
</form>
