{{ $data := index .Site.Data .Site.Language.Lang }} {{ if $data.homepage.hero }}
{{ with $data.homepage.hero }}

<section class="pg-hero" style="background-image: url({{ .bg_img }});">
  <div class="container">
    <div class="row">
      <div class="row--4">
        {{ if .heading }}
        <h1 class="heading-1">{{ .heading }}</h1>
        {{ end }} {{ if .sub_heading }}
        <p class="heading-sub">{{ .sub_heading }}</p>
        {{ end }} {{ if .cta_text_1 }}
        <p class="text-cta--main">{{ .cta_text_1 }}</p>
        {{ end }} {{ if .cta_text_2 }}
        <p class="text-cta--sub">{{ .cta_text_2 }}</p>
        {{ end }} {{ if .button.enable }}
        <div class="row--1">
          <a href="{{ .button.url }}" class="btn-bg" role="button">
            {{ .button.label }}
          </a>
        </div>
        {{ end }}
      </div>

      {{ if .img }}
      <div class="col-md-6 col-12">
        <img src="{{ .img }}" alt="{{ .Title }}" class="img mb-4 my-sm-0" />
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }} {{ end }}
