   <!-- BEGIN lang-switcher -->
   {{ if .IsTranslated }}
   <div class="lang-switcher">
     {{ $siteLanguages := .Site.Languages}}
     {{ $pageLang := .Page.Lang}}
     <button class="lang-switcher__toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
       {{ $pageLang }}
     </button>
     <nav class="lang-switcher__menu" aria-labelledby="dropdownMenuButton" id="select-language">
       {{ range .Page.AllTranslations }}
       {{ $translation := .}}
       {{ range $siteLanguages }}
       {{ if eq $translation.Lang .Lang }}
       {{ $selected := false }}
       {{ if eq $pageLang .Lang}}
       <button class="lang-switcher__item" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}"
         onClick="location = this.value;">{{ .LanguageName }}</button>
       {{ else }}
       <button class="lang-switcher__item" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}"
         onClick="location = this.value;">{{ .LanguageName }}</button>
       {{ end }}
       {{ end }}
       {{ end }}
       {{ end }}
     </nav>
   </div>
   {{ end }}
   <!-- END lang-switcher -->