{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.section_3 }} 
{{ with $data.homepage.section_3 }}
    
    <section class="pg-section pg-section--2">
      <div class="container">
        <h2 class="heading-2">{{ .title }}</h2>
    
        <div class="row row--0">
          {{ with .block_1 }}
          <div class="box-2">
            <div class="box-2__content">
              <table>
                <tr>
                  <td class="box-2__header" colspan="2">
                    <h3>{{ .title }}</h3>
                  </td>
                </tr>
                <tr>
                  <td class="box-2__body pr-0">
                    <ul>
                      {{ range .list }}
                      <li>{{ .title }}</li>
                      {{ end }}
                    </ul>
                  </td>
                  <td>
                    <img src="{{ .img }}" alt="{{ .Title }}" style="margin: 0 0 0 auto"/>
                  </td>
                </tr>
    
                <tr>
                  <td class="box-2__footer" colspan="2">
                    <hr class="my-4" />
                    <h3>How it works?</h3>
                    <ul>
                      <li>You can lose up to $4,000 on the demo account</li>
                      <li>
                        If you exceed the maximum loss, your account will be
                        restored within a week.
                      </li>
                      <li>
                        You can restore your account unlimited number of times but
                        only on a given weekday
                      </li>
                      <li>
                        With MTS included you will have full history and access to
                        your trade statistics
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          {{ end }}
    
          <span class="box-2__icon"> + </span>
          {{ with .block_2 }}
          <div class="box-2">
            <div class="box-2__content">
              <table>
                <tr>
                  <td class="box-2__header" colspan="2">
                    <h3>{{ .title }}</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="{{ .img }}" alt="{{ .Title }}" />
                  </td>
    
                  <td class="box-2__body pl-2">
                    <ul>
                      {{ range .list }}
                      <li>{{ .title }}</li>
                      {{ end }}
                    </ul>
                  </td>
                 
                </tr>
    
                <tr>
                  <td class="box-2__footer" colspan="2">
                    <hr class="my-4" />
                    <h3>How it works?</h3>
                    <ul>
                      <li>
                        You can watch professionals in the chat room and get access
                        to their insights and input every day between 9:30am and 4pm
                        every trading day
                      </li>
                      <li>
                        No latency, you can watch the traders as they click on the
                        “Buy” and “Sell” buttons
                      </li>
                      <li>
                        Become a part of a community of day traders who support,
                        discuss, and encourage one another.
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          {{ end }}
        </div>
    
        <div>
          <p class="text-cta--main">{{ .cta_text_1 }}</p>
          <p class="text-cta--sub">{{ .cta_text_2 }}</p>
        </div>
      </div>
    </section>
    
  
    

{{ end }}
{{ end }}
