{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_1 }}
{{ with $data.homepage.section_1 }}
<section class="pg-section pg-section--1">
    <div class="container">
        <div class="row align-items-center">
            {{ if .img }}
            <div class="col-md-6 col-12 px-0">
                <img src="{{ .img }}" alt="{{ .Title }}" class="img img-fluid img-1">
            </div>
            {{ end }}
            

            <div class="col-md-6 col-12 px-0">

                <div class="box-1">
                    {{ if .heading }}
                    <h2>
                        {{ .heading }}
                    </h2>
                    {{ end }}

                    {{ if .list }}
                    <ul>
                        {{ range .list }}
                            <li> 
                                <b> 
                                    {{ .num }} 
                                </b>
                               <span> 
                                   {{ .item }} 
                                </span>
                             </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    
                </div>

            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}