{{ $data := index .Site.Data .Site.Language.Lang }} {{ if $data.homepage.section_4 }} {{ with $data.homepage.section_4 }}

<section class="pg-section pg-section--3">
  <div class="conainer">
    <h2 class="heading-3">
      {{ .title }} <br />
      {{ .sub_title }}
    </h2>

    <div class="box-3">
      <h3>{{ .box_title | markdownify }}</h3>

      {{- partial "_form.html" . -}}
    </div>
  </div>
</section>

{{ end }} {{ end }}
