{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_5 }}
{{ with $data.homepage.section_5 }}

<section class="pg-section pg-section--4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p>
					{{ .content }}
				</p>
			</div>
		</div>
	</div>
</section>

{{ end }}
{{ end }}