<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ if and (.Site.Params.markup) (.Site.Params.ui) }}
  <meta name="author" content="markup: {{ .Site.Params.markup }} and ui: {{ .Site.Params.ui }}">
  {{ end }}
  {{ hugo.Generator }}

  {{ "  <!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .link | relURL }}?v={{ now.Format "01-02-2006-14-52-26"}}">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $main := resources.Get "scss/main.sass" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $main.Permalink | relURL }}?v={{ now.Format "01-02-2006-14-52-26"}}" media="screen">

  {{ " <!-- Custom Stylesheet -->" | safeHTML }}
  {{ $custom := resources.Get "scss/custom.sass" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $custom.Permalink | relURL }}?v={{ now.Format "01-02-2006-14-52-26"}}" media="screen">


  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/fav/favicon.png` | relURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/fav/favicon.png` | relURL }}" type="image/x-icon">

  <link rel="apple-touch-icon" sizes="144x144" href="{{ `images/fav/apple-touch-icon.png` | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ `images/fav/favicon-32x32.png` | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ `images/fav/favicon-16x16.png` | relURL }}">
  <link rel="mask-icon" href="{{ `images/fav/safari-pinned-tab.svg` | relURL }}" color="#fff">

  <!-- <link rel="manifest" href="{{ `images/fav//site.webmanifest` | relURL }}"> -->
  <link rel="mask-icon" href="{{ `images/fav//safari-pinned-tab.svg` |relURL }}" color="#3a1b70">
  <meta name="msapplication-TileColor" content="#3a1b70">
  <meta name="theme-color" content="#3a1b70">


</head>

