{{ if .Site.Params.preloader.enable }}

<div class="preloader">
	<div class="preloader-dots">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
</div>
{{ end }}

<script>
	let loader = document.querySelector('.preloader');
	setTimeout(() => {
		loader.style.display = "none";
	}, 600);
</script>